*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.editor-container {
  /* width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; */
}